.fileChoser{
    
    text-align: center;
    margin: 5% 20% 20% 35%;
    align-content: center;
    width: 25%;
    align-items: center;
    background-color: beige;
}

.requestButton{
    align-self:center;
    color:white;
    background-color: green;
}

.requestButton:hover{
    align-self: center;
    background-color: lightgreen
}

.totalRequest{
    color: white;
    margin-right: 2%;
    font-size: large;
    background: blue;
}

.remainingRequest{
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    font-size: large;
    background: red;
}

.endRequest{
    color: white;
    margin-right: 2%;
    margin-left: 2%;
    font-size: large;
    background: green;
}

.requestData{
    margin-top: 4%;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: white;

}